<!DOCTYPE html>

<div class="mainContainer">
    <div class="sizeContainer">
        <h3>Size</h3>
        <div class="individualOptions">
            <input type="radio" id="large" name="boardSize" value="large">
            <label for="large">Large</label>
        </div>
        <div class="individualOptions">
            <input type="radio" id="medium" name="boardSize" value="medium">
            <label for="medium">Medium</label>
        </div>
        <div class="individualOptions">
            <input type="radio" id="small" name="boardSize" value="small">
            <label for="small">Small</label>
        </div>
    </div>
    <div class="difficultyContainer">
        <h3>Difficulty</h3>
        <div class="individualOptions">
            <input type="radio" id="Hard" name="gameDifficulty" value="Hard">
            <label for="Hard">Hard</label>
        </div>
        <div class="individualOptions">
            <input type="radio" id="Normal" name="gameDifficulty" value="Normal">
            <label for="Normal">Normal</label>
        </div>
        <div class="individualOptions">
            <input type="radio" id="Easy" name="gameDifficulty" value="Easy">
            <label for="Easy">Easy</label>
        </div>
    </div>
</div>
