<!DOCTYPE html>

{{gameSettings[0]}} {{gameSettings[1]}}

<div (click)="onClick($event)" class="gameBoard" style="
                            width: {{gameSettings[0] * tileWidth}}px;
                            height: {{gameSettings[0] * tileWidth}}px;
                            background-image: url({{boxURL['unc']}});
                            background-color: black;
                            border-style: solid;
                            ">
</div>
<br>
<div (click)="onClick($event)" class="gameBoard" style="
                            width: {{gameSettings[0] * tileWidth}}px;
                            height: {{gameSettings[0] * tileWidth}}px;
                            background-color: black;
                            border-style: solid;
                            font-size: 0;
                            ">
    <img src="{{setTile(i)}}" *ngFor="let rep of tileBuilder(); index as i">
</div>
